<div style="text-align:center" class="content">
    <h1>
      Welcome to teste!
    </h1>
    <h1 [routerLink]="['/login']">
      Click to LOGIN!
    </h1>
    <span style="display: block">teste app is running!</span>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<app-layout-header></app-layout-header>

<br>
<br>

<h3>Data Bindings:</h3>
<label>Interpolation: {{numberToDisplay}}</label>

<br>
<br>

<label>Property Binding 1: <button class="btn btn-info" [disabled]="numberToDisplay >= 10">Info</button></label>

<br>
<br>

<label>Property Binding 2: <img [src]="minhaUrl"/></label>

<br>
<br>

<label>Event Binding: <button class="btn btn-warning" (click)="incrementNumbertToDisplay()">Clique-me</button></label>

<br>
<br>

<label>Two Way Binding: <input type="text" [(ngModel)]="name" placeholder="Digite seu nome"></label>

<br>
<br>

<label>Seu nome é: {{name}}</label>

<br>
<br>

<h3>Produtos:</h3>
<h3 *ngIf="totalProducts > 0">Tem!</h3>
<div *ngFor="let product of products">
  <label>Nome: {{ product.name }}</label>
  <br>
  <label>Descrição: {{ product.description }}</label>
  <br>
  <label>Valor: {{ product.value | currency:'BRL':'symbol':'1.2-2':'pt' }}</label>
  <br>
</div>
