<div class="container main-container">
    <h1>Cadastro</h1>

    <form novalidate (ngSubmit)="registerUser()" [formGroup]="registerForm">

        <h4>Crie sua conta</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"
                    formControlName="email" [ngClass]="{'is-invalid': displayMessages?.['email']}" />
                <span class="text-danger" *ngIf="displayMessages?.['email'] ">
                    <p [innerHTML]="displayMessages?.['email'] "></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="password" placeholder="Senha (requerido)"
                    formControlName="password" [ngClass]="{'is-invalid': displayMessages?.['password']}" />
                <span class="text-danger" *ngIf="displayMessages?.['password']">
                    <p [innerHTML]="displayMessages?.['password']"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Confirme a Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="passwordConfirmation" type="password"
                    placeholder="Confirme a Senha (requerido)" formControlName="passwordConfirmation"
                    [ngClass]="{'is-invalid': displayMessages?.['passwordConfirmation']}" />
                <span class="text-danger" *ngIf="displayMessages?.['passwordConfirmation']">
                    <p [innerHTML]="displayMessages?.['passwordConfirmation']"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Registrar" [disabled]="!registerForm.valid"
                        type="submit">Registrar</button></span>
            </div>
        </div>
    </form>
</div>