<div class="container main-container">

    <h1>Lista de Produtos</h1>
    <hr>

    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="returnMessage">Opa! Alguma coisa não deu certo:</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <p>
        <a class="btn btn-info" [routerLink]="['/product/new']">Novo Produto</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ativo?</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let product of products">
            <td>
                <img src="{{ imagesUrl }}{{ product.images[0].imageName }}" style="width: 70px; height: 100px">
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{product.description }}
            </td>
            <td>
                <input [checked]="product.isActive" class="check-box" disabled="disabled" type="checkbox">
            </td>
            <td class="text-right">
                <a class="btn btn-info" [routerLink]="['/product/detail', product.productGuid]">
                    <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-warning" [routerLink]="['/product/edit', product.productGuid]">
                    <span class="fa fa-pencil-alt"></span>
                </a>&nbsp;
            </td>
        </tr>
    </table>
</div>